# Практична робота 2 
## Завдання 2

In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [55]:
# Завдання 1
data = pd.read_csv("bestsellers with categories.csv")
data

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [56]:
# Завдання 2
data.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [57]:
# Завдання 3
data.shape

(550, 7)

##### Датасет зберігає дані про 550 книг

In [58]:
# Завдання 4
data.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
data

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [59]:
# Завдання 5 
data.isna().sum()

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

##### В датасеті немає пропусків

In [60]:
# Завдання 6 
data['genre'].unique()

array(['Non Fiction', 'Fiction'], dtype=object)

###### Унікальні жанри датасету - Non Fiction, Fiction

In [61]:
# Завдання 7 
# MAX
mx = data["price"].max()
print("Максимальна ціна", mx)

Максимальна ціна 105

In [62]:
# MIN
mn = data["price"].min()
print("Мінімальна ціна", mn)

Мінімальна ціна 0

In [63]:
# MEAN
md = data['price'].mean()
print("Середня ціна", md)

Середня ціна 13.1

In [64]:
# MEDIAN
mi = data["price"].median()
print("Медіанна ціна", mi)

Медіанна ціна 11.0

In [65]:
# Завдання 8 
# Який рейтинг у датасеті найвищий? 
rate = data["user_rating"].max()
print("Найвищий рейтинг", rate)

Найвищий рейтинг 4.9

In [66]:
# кількість книг з максимальним рейтингом
amount = data[data['user_rating'] == data["user_rating"].max()]['name'].count()
print("Кількість книг з максимальним рейтингом", amount)

Кількість книг з максимальним рейтингом 52

In [68]:
# найбільше відгуків 
rev = data["name"][data["reviews"] == data["reviews"].max()]
print("Найбільше відгуків має книга", rev)

Найбільше відгуків має книга 534    Where the Crawdads Sing
Name: name, dtype: object

In [69]:
# найдорожча книга 2010 року 
_data = data[data["year"] == 2010]
name = _data["name"][_data["price"].max()]
print("Найдорожча книга 2010 року", name)

Найдорожча книга 2010 року Catching Fire (The Hunger Games)

In [71]:
# Скільки книг жанру Fiction, що потрапили до Топ-50 у 2012 році 
_data = data[data['year'] == 2012]
count = _data['name'][_data['genre']=='Fiction'].count()
print(count, "книг жанру Fiction потрапили до Топ-50 у 2012 році")

21 книг жанру Fiction потрапили до Топ-50 у 2012 році

In [77]:
# Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)
filtered_books = data[(data['user_rating'] == 4.9) & (data['year'].isin([2010, 2011]))]
print(len(filtered_books), "кинга з рейтингом 4.9 потрапила до рейтингу у 2010 та 2011 роках")

1 кинга з рейтингом 4.9 потрапила до рейтингу у 2010 та 2011 роках

In [78]:
# Завдання 9
filtered_books = data[data['genre'].isin(['Fiction', 'NonFiction'])]
result = filtered_books.groupby('genre')['price'].agg(['max', 'min'])
result

         max  min
genre
Fiction   82    0